// Header and Footer
.header,
.footer {
  background-color: var(--color-purple-bauer);
  width: 100vw;
  display: block;
  padding: 1rem 1rem 0 1rem;
  color: white;
}


// Header 
.header {
  &__logo {
    max-width: 8rem;
    height: auto;
    margin: 0 auto;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

// Footer 
.footer {
  font-family: var(--font--bauer);
  text-align: center;
  padding: 2rem;
}

// Body Generic
body {
  font-family: var(--font--bauer);
  background-color: var(--color-background);
}