@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-bold-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-bolditalic-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-light-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-lightitalic-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-lightitalic-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;

}

@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-regular-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Bauer Media Sans';
  src: url('../typefaces/bauermediasans-regularitalic-webfont.woff2') format('woff2'),
       url('../typefaces/bauermediasans-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}