// Bauer Variables

:root {
  //Colors
  --color-purple-bauer: #4700A3;

  --color-mint--light: #BEFAEB;
  --color-mint--mid: #1FD1BD;
  --color-mint--dark: #009392;

  --color-lavender--light: #E1DCFF;
  --color-lavender--mid: #A096FF;
  --color-lavender--dark: #7D78E8;

  --color-peach--light: #FFD2D2;
  --color-peach--mid: #FF7D6A;
  --color-peach--dark: #D05C5D;

  --color-lemon--light: #FFFFC8;
  --color-lemon--mid: #FFF050;
  --color-lemon--dark: #F0A800;

  --color-aqua--light: #C8FAFF;
  --color-aqua--mid: #5AF0FF;
  --color-aqua--dark: #349CDC;

  --color-taffy--light: #FFD2EB;
  --color-taffy--mid: #FF78C8;
  --color-taffy--dark: #D54380;

  //Layout
  --mobile--large: 500px;
  --tablet: 760px;
  --max-width: 1160px;

}